aside.login-sider {
  background-image: url("../assets/login.svg") !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  flex: auto !important;
  max-width: none !important;
  min-width: none !important;
}

main.login-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ant-card-bordered {
  width: auto !important;
}
